{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block navbar  %}
{% include '_navbar.html' %}
{% endblock navbar %}
{% block content  %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 well" style="background-color: #ffffff">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h1>Login</h1>
                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                        {{ login_user_form.hidden_tag() }}

                        {{ wtf.form_errors(login_user_form) }}

                        {{ wtf.form_field(login_user_form.email) }}
                        {{ wtf.form_field(login_user_form.password) }}
                        {{ wtf.form_field(login_user_form.remember) }}
                        {{ wtf.form_field(login_user_form.submit, button_map={"submit": "primary"}) }}
                    </form>
                    <br>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
{% endblock content  %}
