<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% if current_user.is_authenticated  %}"{{ url_for('users.home') }}"{% else %}"{{ url_for('public.index') }}"{% endif %}>McGillX</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('parse.index') }}">Parse</a></li>
              <li><a href="{{ url_for('report.index') }}">Report</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('public.about') }}">About</a></li>
          {% if current_user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('users.home') }}">Profile</a></li>
                <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
              </ul>
            </li>
          {% else %}
            <!-- <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li> -->
            <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
          {% endif %}
          </ul>
        </div>
    </div>
</nav>
