{% extends "../base.html" %}
<div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
	  <div class="logo">
	    <h1>Error 404 Page Not Found</h1>
      </div>
            <br><br>
          <p class="text-muted">Theere is some error here, Please try later. </p>
          <div class="clearfix"></div>
             <br><br>
                <div class="col-lg-6  col-lg-offset-3">
		  <div class="btn-group btn-group-justified">
                      <a href="#" class="btn btn-success">Return Website</a> 
		  </div>
                        
                </div>
            
        </div>
                
                
        </div>