{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block navbar  %}
{% include '_navbar.html' %}
{% endblock navbar %}
{% block content  %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 well" style="background-color: #ffffff">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                <h2>Parse SQL Data</h2>
                <form action="{{ url_for('parse.parse_forum') }}" method="POST" name="parse_forum" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form) }}
                    {{ wtf.form_field(form.course) }}
                    {{ wtf.form_field(form.collection) }}
                    {{ wtf.form_field(form.sql_file) }}
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit" data-toggle="modal" data-target="#myModal">
                </form>
                <br>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
{% include 'parse/_modal.html' %}
{% endblock content  %}
